<a href="https://colab.research.google.com/github/6ma6X/NLP100/blob/master/10_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!ls

popular-names.txt

In [2]:
# 10. 行数のカウント

f = open("popular-names.txt", "r")

ct = 0

for line in f:
    ct += 1

print(ct)

f.close()

2780

In [3]:
!cat popular-names.txt | wc -l

2780

In [4]:
# 11. タブをスペースに置換

f = open("popular-names.txt", "r")

with open("11.txt", "w") as f11:
    for line in f:
        f11.write(line.replace("\t", " "))

f.close()

In [5]:
!expand -t 1 popular-names.txt > 11_test.txt

In [6]:
!diff 11.txt 11_test.txt

In [7]:
# 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

f = open("popular-names.txt", "r")
f12_1 = open("col1.txt", "w")
f12_2 = open("col2.txt", "w")

for line in f:
    words = line.split("\t")
    f12_1.write(f"{words[0]}\n")
    f12_2.write(f"{words[1]}\n")


f.close()
f12_1.close()
f12_2.close()

In [8]:
!cut -f 1 popular-names.txt > col1_test.txt
!cut -f 2 popular-names.txt > col2_test.txt

In [9]:
!diff col1.txt col1_test.txt
!diff col2.txt col2_test.txt

In [10]:
# 13. col1.txtとcol2.txtをマージ

f13_1 = open("col1.txt", "r")
f13_2 = open("col2.txt", "r")
f = open("cols.txt", "w")

for line1, line2 in zip(f13_1, f13_2):
    word1 = line1.replace("\n", "")
    word2 = line2.replace("\n", "")
    f.write(f"{word1}\t{word2}\n")

f.close()
f13_1.close()
f13_2.close()

In [11]:
!paste col1.txt col2.txt > cols_test.txt

In [12]:
!diff cols.txt cols_test.txt

In [13]:
# 14. 先頭からN行を出力

def head(n):
    f = open("popular-names.txt", "r")

    ct = 0
    for line in f:
        print(line, end="")
        ct += 1
        if ct == n:
            break

    f.close()

In [14]:
head(10)

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880

In [15]:
!head -n 10 popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880

In [16]:
# 15. 末尾のN行を出力

def tail(n):
    f = open("popular-names.txt", "r")

    num = 0
    for line in f:
        num += 1

    f.close()

    f = open("popular-names.txt", "r")
    for line in f:
        num -= 1
        if num < n:
            print(line, end="")

    f.close()

In [17]:
tail(10)

Liam	M	19837	2018
Noah	M	18267	2018
William	M	14516	2018
James	M	13525	2018
Oliver	M	13389	2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [18]:
!tail -n 10 popular-names.txt

Liam	M	19837	2018
Noah	M	18267	2018
William	M	14516	2018
James	M	13525	2018
Oliver	M	13389	2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [19]:
# 16. ファイルをN分割する

def split(n):
    f = open("popular-names.txt", "r")

    num = 0
    for line in f:
        num += 1

    f.close()

    for i in range(n):
        id = str(i).zfill(2)
        f16 = open(f"16-{id}", "w")

        with open("popular-names.txt", "r") as f:
            for index, line in enumerate(f):
                if index >= i * (num / n) and index < (i+1) * (num / n):
                    f16.write(line)

        f16.close()

In [20]:
split(10)

In [21]:
!split -l 278 -d popular-names.txt 16_test-

In [22]:
!diff 16-00 16_test-00
!diff 16-01 16_test-01
!diff 16-02 16_test-02
!diff 16-03 16_test-03
!diff 16-04 16_test-04
!diff 16-05 16_test-05
!diff 16-06 16_test-06
!diff 16-07 16_test-07
!diff 16-08 16_test-08
!diff 16-09 16_test-09

In [23]:
# 17. １列目の文字列の異なり

f = open("popular-names.txt", "r")
f17 = open("17.txt", "w")


words = []

for line in f:
    word = line.split("\t")[0]
    words.append(word)

words = sorted(list(set(words)))

for word in words:
    f17.write(f"{word}\n")

f17.close()
f.close()

In [24]:
!cut -f 1 popular-names.txt | sort | uniq > 17_test.txt

In [25]:
!diff 17.txt 17_test.txt

In [26]:
# 18. 各行を3コラム目の数値の降順にソート

f = open("popular-names.txt", "r")
f18 = open("18.txt", "w")

data = dict()

for line in f:
    data[line] = int(line.split("\t")[2])

data = sorted(data.items(), key=lambda x:x[1], reverse=True)
for datum in data:
    f18.write(datum[0])

f18.close()
f.close()

In [27]:
!sort -k 3 -nr popular-names.txt > 18_test.txt

In [28]:
!head -n 20 18.txt

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954
Michael	M	88327	1955
John	M	88319	1947
James	M	87436	1946
James	M	87261	1951
James	M	87063	1952
Michael	M	86917	1961
James	M	86857	1949
Robert	M	86604	1952
Robert	M	86351	1951
Robert	M	86298	1954

In [29]:
!head -n 20 18_test.txt

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954
Michael	M	88327	1955
John	M	88319	1947
James	M	87436	1946
James	M	87261	1951
James	M	87063	1952
Michael	M	86917	1961
James	M	86857	1949
Robert	M	86604	1952
Robert	M	86351	1951
Robert	M	86298	1954

In [30]:
# 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

f = open("popular-names.txt", "r")
f19 = open("19.txt", "w")


words = dict()

for line in f:
    word = line.split("\t")[0]
    if word in words:
        words[word] += 1
    else:
        words[word] = 1

words = sorted(words.items(), key=lambda x:x[1], reverse=True)

for (word, ct) in words:
    f19.write(f"\t{ct}\t{word}\n")

f19.close()
f.close()

In [31]:
!cut -f 1 popular-names.txt | sort | uniq -c | sort -nr > 19_test.txt

In [32]:
!head -n 20 19.txt

	118	James
	111	William
	108	John
	108	Robert
	92	Mary
	75	Charles
	74	Michael
	73	Elizabeth
	70	Joseph
	60	Margaret
	58	George
	58	Thomas
	57	David
	51	Richard
	45	Helen
	43	Frank
	43	Christopher
	41	Anna
	40	Edward
	39	Ruth

In [33]:
!head -n 20 19_test.txt

    118 James
    111 William
    108 Robert
    108 John
     92 Mary
     75 Charles
     74 Michael
     73 Elizabeth
     70 Joseph
     60 Margaret
     58 Thomas
     58 George
     57 David
     51 Richard
     45 Helen
     43 Frank
     43 Christopher
     41 Anna
     40 Edward
     39 Ruth

In [34]:
!find . \! -name 'popular-names.txt' -delete